* {
    box-sizing: border-box;
}

body{    background-color: antiquewhite;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 60px;
    color: peru;
    padding-top: 15rem;

}

form {
    text-align: center;
    width: 500px;
    height: auto;
    background-color: white;
    padding: 16px 32px;
    border-radius: 8px;
    box-shadow: -1px 1px 17px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 1px 17px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 17px -3px rgba(0, 0, 0, 0.75);
}

form label {
    font-size: 16px;
}

form input,
form select,
form textarea,
form button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    margin: 5px 0px 15px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    ;
    outline: 1.5px solid rgba(128, 128, 128, 0.5);
    ;
    font-size: 14px;
    padding: 0px 8px;
}

form input::placeholder {
    color: rgb(228, 228, 228);
}

form textarea {
    height: 150px;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
}

form button {
    border: none;
    background-color: #568496;
    color: #fff;
    transition: 0.5s ease;
}

form button:hover {
    background-color: #456A78;
}

a {
    text-decoration: none;
    color: peru;
}

a:hover{
    background-color: peru;
    color: rgb(129, 86, 30);
padding: 1rem;
border-radius: 1rem;
box-shadow: -1px 1px 17px -3px rgba(0, 0, 0, 0.75);
}

button {
    background: linear-gradient(#611661, #c79305);
}